{% extends 'blog/base.html' %}

{% block title%}CBI{% endblock title %}

{% block content %} 
  <div></div>
    <h1 class="display-1 mt-4 mb-5"><font color="#64a19d" face="Courier New">Naive Bayes</font></h1>
    <p align = "center"><em>Agrega 3 valores para X1, X2, X3 </em></p>
    <form class="row gx-3 gy-2 align-items-center"  action="/algoritmo_cbi/" method="post">
        {% csrf_token %}
        <div class="col-sm-2">
          <label class="visually-hidden" for="specificSizeInputName">Name</label>
          <input type="text" class="form-control" name="x" id="specificSizeInputX" placeholder="X1">
        </div>
        <div class="col-sm-2">
            <label class="visually-hidden" for="specificSizeInputName">Name</label>
            <input type="text" class="form-control" name="y" id="specificSizeInputY" placeholder="X2">
          </div>
        <div class="col-sm-2">
            <label class="visually-hidden" for="specificSizeInputName">Name</label>
            <input type="text" class="form-control" name="z" id="specificSizeInputZ" placeholder="X3">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Clasificar</button>
        </div>
    </form>
    <br>
    {%for val in letra%}
      <div class="alert alert-primary" role="alert">
        La letras es: {{val}}
      </div>
    {% endfor %}
    
    
{% endblock %} 