{% extends 'blog/base.html' %}

{% block title%}Base de Datos{% endblock title %}

{% block content %} 
<footer class="blockquote-footer">Algoritmos de Clasificacion </footer> 
<h1 align ="center"><font color="green" face="Courier New">Tabla de Registros</font></h1>
<table class="table table-dark table table-success table-striped">
        <thead>
            <tr>
                <th scope="col"><font color="red" face="Courier New" ></font></th>
                <th scope="col"><font color="gold" face="Courier New">x1</font></th>
                <th scope="col"><font color="green" face="Courier New">x2</font></th>
                <th scope="col"><font color="gold" face="Courier New">x3</font></th>
                <th scope="col"><font color="green" face="Courier New">x4</font></th>
                <th scope="col"><font color="gold" face="Courier New">Suma</font></th>
            </tr>
        </thead>
        <tbody>
            {% for var,suma in contexto %}
            <tr  id="tabla1">
                <th scope="row"></th>
                <td>{{var.var1}}</td>
                <td>{{var.var2}}</td>
                <td>{{var.var3}}</td>
                <td>{{var.var4}}</td>
                <td>{{suma}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    <table class="table table-dark">
        <thead>
            <th scope="col">Resultados</th>
        </thead>
        <tbody>
        {%for val in suma%}
            <tr id="tabla2">
            <td>{{val}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table
{% endblock %} 